<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Login Form </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="./style/style.css" type="text/html">
    <script type="text/javascrypt" src="../utils/quiz.js"></script>
</head>
<body>
    <p><%=result.libelleTest %></p>
    <form  method="POST">
    
        <%for(i=0;i<4;i++){%>
        <p><%=test[i].libelleQuestion%></p>
        
        <%for(j=0;j<4;j++){%>
            
                <input type="radio" name="<%=i+1%>" value="<%=j+1%>">
                <label for="<%=rep[i][j].libelleReponse%>"><%=rep[i][j].libelleReponse%></label><br>
            
        <%}%>
        
    <%}%>
    <input type="submit" value="Envoyer">
    </form>
    
</body>
</html>