<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Login Form </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/style/style.css" type="text/html">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Roomies</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>

    <% if(isAdmin){ %>
        <%-include("./navbar/admin")-%>
    <% }else{%>
        <%-include("./navbar/user") -%>
    <% } %>

    <form class="form form-vertical" action="/site/avatar-upload/1" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-sm-4 text-center">
                <div class="kv-avatar">
                    <div class="file-loading">
                        <input id="avatar-1" name="avatar-1" type="file" required>
                    </div>
                </div>
                <div class="kv-avatar-hint">
                    <small>Select file inférieur à 1500 KB</small>
                </div>
            </div>
            <div class="form-group">
                  <hr>
                    <div class="text-right">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
            </div>
        </div>
    </form>
    <div id="kv-avatar-errors-1" class="center-block" style="width:800px;display:none"></div>

    <table>
        <tr>
            <td>Nom : <%=user.nom%></td>
        </tr>
        <tr>
            <td>Prénom : <%=user.prenom%></td>
        </tr>
        <tr>
            <td>Mail : <%=user.mail%></td>>
        </tr>
    </table>
    
    <p>Voulez-vous changer vos informations personnelles ?</p>

    <a href="/profil/logout"><button type="button" class="btn btn-danger">Déconnexion</button></a>

    
    
    
   
</body>
</html>